@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
.ramas, .cutSection, .content__list, .quienesSomos, .presentacion {
  display: flex;
  flex-direction: column;
}

.cabezera__menu ul li, .cabezera__menu ul, .cabezera__menu, .cabezera__visual, .cabezera, .gridItemApp, .gridItemDona, .portadaCampania, .videoPrincipal, .newContainer, .content__text, .historia, .contentLogos, .content__flex, .photoText__content {
  display: flex;
  flex-direction: row;
}

/*
.comand{
    darken
    lhigten
    saturate
}
*/
.fondos {
  background-color: #ddf1de;
}

.error {
  color: #124329;
  margin-top: 7em;
  text-align: center;
}
.error h2 {
  font-size: 50px;
}
.error h3 {
  font-size: 40px;
}

/* Limitamos el máximo ancho del contenerdor y lo mantenemos centrado
*/
.textCabeza {
  padding: 4em 0em 4em 0em;
  color: #085F62;
}
.textCabeza h2 {
  font-size: 60px;
  border-bottom: 15px double #70C573;
  margin: 1em;
}
.textCabeza h3 {
  font-size: 30px;
}
.textCabeza h4 {
  font-size: 20px;
  padding: 1.5em;
}

.tablas {
  max-width: 1140px;
  margin: 0px auto;
  clear: both;
  font-family: Arial, Georgia, Serif;
}

.tabla {
  margin: 1em 0.5em 1.625em;
  padding: 0.25em 0 2em;
  background: #124329;
  /* Color de fondo remplace por su favorito */
  color: #f9f9f9;
  text-align: center;
  border: none;
}

@media (min-width: 40em) {
  .tabla {
    width: 30%;
    float: left;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
  }

  .scale {
    z-index: 400;
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
    transform: scale(1.07);
  }
}
/* Efecto de zoom al pasar el mouse puede modificar la scala */
/*.tabla:hover{
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
       -o-transform: scale(1.2);
          transform: scale(1.2);
  background: $verdeClaro;
}*/
div.precio {
  width: 100px;
  height: 100px;
  margin: 0px auto;
  background: #70C573;
  border-radius: 50%;
  border: 10px solid #000000;
  color: #000;
  margin-top: 20px;
  font-size: 24px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000;
  font-weight: bold;
}

div.precio p {
  margin: 30px 0px 0px 0px;
  padding: 0px;
}

div.precio sup {
  font-size: 50%;
}

div.precio span {
  font-size: 12px;
  color: #000000;
  margin: 0px;
  padding: 0px;
}

.titulo {
  margin: 0.5em 0;
  padding: 0.25em 0;
  background: #70C573;
  font-size: 250%;
  color: #000;
}

.scale .titulo {
  background: #ff8400;
}

.caracteristica {
  margin: 0px auto;
  padding: 0;
  list-style-type: none;
  color: #fefefe;
  width: 95%;
}

.caracteristica li {
  padding: 10px 0px;
  border-bottom: 1px dotted #ccc;
}

.queHacemos {
  background-color: #03A8E8;
}

.beneficio {
  background-color: #085F62;
}

.comprar {
  font-size: 25px;
  color: #EBD671;
  border: 5px solid #70C573;
  border-bottom: none;
}
.comprar:hover {
  font-size: 27px;
  transition: 0.5s;
}

.yaSocio, .fondo {
  background: #70C573;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page {
  font-family: "Lato", sans-serif;
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.loaded {
  overflow-y: auto;
}

.main {
  display: none;
}

.tl, .tr, .bl, .br {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(https://img.freepik.com/foto-gratis/hoja-helecho-cerca-fondo-naturaleza-bw_53876-103828.jpg?w=2000) no-repeat center center fixed #000;
  -moz-background-size: cover;
  background-size: cover;
}

/* top left*/
.tl {
  top: 0;
  top: -50%;
  left: -50%;
}

/* top right*/
.tr {
  top: -50%;
  left: 50%;
}

/* botton left*/
.bl {
  top: 50%;
  left: 50%;
}

/* botton right*/
.br {
  top: 50%;
  left: -50%;
}

.enter:after,
.enter:hover:after,
.enter, .enter:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.enter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: #2A2A2B;
  background-color: rgba(17, 17, 17, 0.67);
  z-index: 999999999;
  text-align: center;
  line-height: 100px;
  text-decoration: none;
  color: #FFF;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 15px 2px #000;
  -moz-box-shadow: 0 0 15px 2px #000;
  box-shadow: 0 0 15px 2px #000;
}

.enter:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  background-color: #3FB4BE;
  background-color: rgba(0, 235, 255, 0.44);
  z-index: 999999999;
  text-align: center;
  line-height: 80px;
  text-decoration: none;
  color: #FFF;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 15px 2px #000;
  -moz-box-shadow: 0 0 15px 2px #000;
  box-shadow: 0 0 15px 2px #000;
}

.enter:hover {
  -webkit-box-shadow: 0 0 4px 4px #3FB4BE;
  -moz-box-shadow: 0 0 4px 4px #3FB4BE;
  box-shadow: 0 0 4px 4px #3FB4BE;
}

.enter:hover:after {
  background-color: #2A2A2B;
  background-color: rgba(17, 17, 17, 0.67);
}

.hideThis {
  -webkit-box-shadow: 0 0 0 0 #3FB4BE;
  -moz-box-shadow: 0 0 0 0 #3FB4BE;
  box-shadow: 0 0 0 0 #3FB4BE;
  opacity: 0;
  z-index: -5;
}

/* Layout
============================== */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: #000;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: #333;
}

.yaSocio {
  font: 100%/1.5 "lato", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 40rem) {
  .yaSocio {
    font-size: 112%;
  }
}
@media (min-width: 64rem) {
  .yaSocio {
    font-size: 120%;
  }
}
.fondo {
  background-color: #fff;
  color: #555;
}

.containerSocio {
  margin: 0 auto;
  max-width: 53rem;
  width: 90%;
}

/* Header
================================== */
.fondo {
  background: url(https://img.freepik.com/foto-gratis/texturas-hojas-negras-abstractas-naturales-imagenes-blanco-negro-fondo-hojas-tropicales_512343-637.jpg?w=2000) no-repeat center center fixed #ecf0f1;
  text-align: center;
  -moz-background-size: cover;
  background-size: cover;
}

.intro {
  margin: 2rem 0;
}

@media (min-width: 40rem) {
  .intro {
    margin: 4rem 0;
  }
}
.clearfix .msj {
  color: #fff;
  padding: 0.4rem 0.6rem;
  display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #085F62;
  background-color: rgba(129, 194, 129, 0.671);
}

.clearfix p {
  color: #085F62;
  margin: 0 auto;
  background-color: rgba(129, 194, 129, 0.671);
}

/* Section
========================================= */
.words {
  background: white;
}

section {
  border-top: 1px solid #eee;
  padding: 2rem 0;
}

section:first-of-type {
  border-top: none;
}

@media (min-width: 40rem) {
  section {
    padding: 4rem 0;
  }
}
/* Clearfix by Nicolas Gallagher
========================================== */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.title {
  padding: 1em;
}

.listaBen {
  text-align: justify;
}

/*INDEX*/
.presentacion {
  background-position: center;
  background: url(../scr/media/img/presentacionFoto.jpg);
  height: 100%;
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  padding: 11em;
  border-bottom: 15px double #085F62;
}
.presentacion h2 {
  font-size: 70px;
  color: #70C573;
  margin-bottom: 1em;
}

.colorA {
  color: #085F62;
}

.colorB {
  color: #03A8E8;
}

.quienesSomos img {
  border-radius: 10px;
}
.quienesSomos h3 {
  margin-bottom: 3em;
  font-size: 30px;
  color: black;
}
.quienesSomos p {
  font-size: 25px;
  padding-right: 1em;
  color: #085F62;
}

.fotoText {
  display: inline;
}

.photoText__content {
  justify-content: flex-end;
}

.content__flex {
  justify-content: space-between;
  width: 100%;
  margin-left: 8em;
  margin-top: 4em;
}
.content__flex video {
  margin: 2em;
}
.content__flex img {
  margin-top: 5em;
}
.content__flex img h2 {
  font-size: 70px;
  padding-bottom: 1em;
  color: #70C573;
}
.content__flex img h3 {
  font-size: 40px;
  color: #03A8E8;
}

.content__list {
  justify-content: space-around;
}
.content__list ul {
  margin-left: 1em;
  margin-bottom: 8em;
  font-size: 35px;
}
.content__list ul li {
  list-style: square;
  color: #085F62;
  padding-top: 1.1em;
}
.content__list h2 {
  font-size: 70px;
  padding-bottom: 1em;
  color: #70C573;
}
.content__list h3 {
  font-size: 40px;
  color: #03A8E8;
}

.cutSection {
  text-align: center;
  margin-bottom: 2em;
}
.cutSection h2 {
  padding-bottom: 0.5em;
  font-size: 70px;
  color: #085F62;
}
.cutSection h4 {
  padding-bottom: 3em;
  font-size: 25px;
  color: black;
}

.infoArbol {
  display: flex;
  justify-content: space-around;
  margin-right: 3em;
  margin-left: 3em;
  margin-top: 1.5em;
  margin-bottom: 15em;
}

.arboles, .carbono, .ingresos, .descarga {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arboles h2, .carbono h2, .ingresos h2, .descarga h2 {
  margin-top: 1em;
  padding: 0.5em;
  border-bottom: 2px #70C573 solid;
  color: #085F62;
}

.arboles p, .carbono p, .ingresos p, .descarga p {
  margin-top: 0.5em;
  font-size: 27px;
  color: #70C573;
}

/*RESPONSIVE DE LA GALLERIA*/
@media all and (min-width: 320px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media all and (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}
.text-gallery {
  margin: 1em;
  text-align: center;
  font-size: 70px;
  color: #03A8E8;
  display: inline;
  border-bottom: #70C573 15px double;
}

.grid-gallery {
  margin: 3em;
  display: grid;
  grid-auto-rows: 200px;
  gap: 1rem;
  grid-auto-flow: row dense;
  background-color: #70C573;
  padding: 1em;
  border-radius: 15px;
}

.grid-gallery__item:nth-child(11n+1) {
  grid-column: span 1;
}

.grid-gallery__item:nth-child(11n+4) {
  grid-column: span 2;
  grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+6) {
  grid-column: span 3;
  grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+7) {
  grid-column: span 1;
  grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+8) {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+9) {
  grid-row: span 3;
}

.grid-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.responsiveAlert {
  display: none;
}

.intro {
  background: url(../scr/media/img/bannerNosotros.jpg);
  height: 100%;
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  padding: 4em;
  margin-top: 0em;
}

.intro__nosotros {
  margin: 4em;
  margin-top: 0em;
  text-align: center;
  background-color: #124329;
}
.intro__nosotros h2 {
  padding: 3em 3em 1em 3em;
  font-size: 40px;
  color: #fcfcfc;
}
.intro__nosotros p {
  font-size: 30px;
  padding-bottom: 4em;
  color: antiquewhite;
  text-align: justify;
  padding-left: 1em;
  padding-right: 1em;
}

.divisiones {
  text-align: center;
}
.divisiones h2 {
  padding-top: 2.5em;
  font-size: 50px;
  color: #03A8E8;
}

.spanDivide {
  color: #124329;
}

.spanName {
  color: #70C573;
}

.contentLogos {
  justify-content: space-around;
  margin: 2em 4em 2em 4em;
  flex-wrap: wrap;
}

.ramas {
  display: inline-block;
  position: relative;
}

.ramas > div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 10px;
  margin: 0;
  color: #124329;
}

.ramas__opacar {
  background-color: white;
}
.ramas__opacar:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

.ramas {
  margin: 2em auto;
}

.historia {
  margin: 3em;
}

.historia__content h2 {
  padding-top: 2.5em;
  font-size: 60px;
  border-bottom: 10px double #085F62;
  color: #70C573;
}

.content__text {
  margin-top: 3em;
  justify-content: space-between;
}
.content__text p {
  padding-top: 10px;
  font-size: 30px;
}

.logoViejo {
  display: inline-block;
  position: relative;
}

.logoViejo > div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 10px;
  margin: 0;
  font-size: 25px;
  color: #124329;
}

.ramas__opacar {
  background-color: white;
}
.ramas__opacar::hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

.bannerNews {
  text-align: center;
  padding: 4em;
  border-bottom: #085F62 double 1em;
}
.bannerNews h2 {
  padding-top: 1em;
  font-size: 40px;
  color: #03A8E8;
}
.bannerNews h3 {
  color: #70C573;
}

.noticias {
  margin: 2em 5em 2em 5em;
}

.newContainer {
  justify-content: space-around;
  margin-top: 4em;
  border: 8px #085F62 solid;
  padding: 0.5em;
  background-color: #f0fbff;
}
.newContainer img {
  border: #70C573 8px solid;
  border-radius: 5px;
}
.newContainer:hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.newContent {
  padding-left: 2em;
}

.titleNew {
  padding-bottom: 1em;
}

.botonera {
  margin-top: 1em;
}
.botonera li {
  display: inline;
  padding: 1em;
}
.botonera li a {
  text-decoration: none;
  color: #70C573;
  border-bottom: 2px solid #70C573;
}
.botonera .fecha {
  margin: 1em;
  color: #124329;
}

.toggleContenedor {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 2em;
}
.toggleContenedor .toggle {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #085F62;
  top: 0px;
  left: 0px;
  border-radius: 30px;
  width: 90px;
  height: 50px;
  transition: 0.3s;
}
.toggleContenedor .activo {
  background-color: aquamarine;
}
.toggleContenedor .activo .toggleButton {
  left: 45px;
}
.toggleContenedor .toggleButton {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.toggleContenedor .toggleText {
  position: relative;
  padding-left: 1em;
  font-size: 25px;
}
.toggleContenedor .toggleA {
  padding-left: 0px;
  padding-right: 1em;
}

.bodyNewView {
  text-align: center;
}

.newContentHead {
  background-color: #70C573;
  padding: 5em 3em 5em 3em;
}
.newContentHead #titleNew {
  font-size: 30px;
}
.newContentHead #fechaNew {
  padding-top: 2em;
  font-size: 16px;
}

#fotoContent #bannerNew {
  height: 300px;
  width: 100%;
}

#bodyNew {
  padding-top: 1em;
  font-size: 20px;
  text-align: justify;
}

.shareTabs textarea {
  resize: none;
  padding: 1em;
}
.shareTabs .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}
.shareTabs .svg-inline--fa {
  vertical-align: -0.2em;
}
.shareTabs .rounded-social-buttons {
  text-align: center;
}
.shareTabs .rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}
.shareTabs .rounded-social-buttons .social-button:hover, .shareTabs .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.shareTabs .rounded-social-buttons .fa-twitter, .shareTabs .fa-facebook-f, .shareTabs .fa-linkedin, .shareTabs .fa-youtube, .shareTabs .fa-instagram {
  font-size: 25px;
}
.shareTabs .rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}
.shareTabs .rounded-social-buttons .social-button.facebook:hover, .shareTabs .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}
.shareTabs .rounded-social-buttons .social-button.twitter {
  background: #55acee;
}
.shareTabs .rounded-social-buttons .social-button.twitter:hover, .shareTabs .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}
.shareTabs .rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}
.shareTabs .rounded-social-buttons .social-button.linkedin:hover, .shareTabs .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}
.shareTabs .rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}
.shareTabs .rounded-social-buttons .social-button.youtube:hover, .shareTabs .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}
.shareTabs .rounded-social-buttons .social-button.instagram {
  background: #125688;
}
.shareTabs .rounded-social-buttons .social-button.instagram:hover, .shareTabs .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}

section.articles {
  width: 60%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding: 0.1em;
}

.news aside {
  background-color: #ebebeb;
  float: left;
  width: 35%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 1em;
}

.news aside header {
  text-align: center;
}

/*CAMPAÑAS.HTML*/
.evento {
  background: url(../scr/media/img/bannerCampaña.jpg);
  height: 100%;
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  padding: 4em;
  margin-bottom: 2em;
}
.evento .eventoContent {
  text-align: center;
}
.evento .eventoContent h2 {
  font-size: 70px;
  padding: 1em 0em 1em 0em;
  color: #043133;
}
.evento .eventoContent h4 {
  text-align: justify;
  font-size: 40px;
  color: beige;
  background-color: #12432994;
  padding: 1em;
}
.evento .eventoContent a {
  text-decoration: none;
  font-size: 30px;
  background-color: #03A8E8;
  padding: 0.5em;
  color: #043133;
}
.evento .eventoContent a:hover {
  background-color: #043133;
  color: #03A8E8;
  transition: 0.5s;
}
.evento .spacemargin {
  padding: 1em 0em 4em 0em;
}

.videoPrincipal {
  justify-content: space-around;
  margin: 3em 3em 10em 3em;
}
.videoPrincipal h2 {
  font-size: 40px;
  color: #085F62;
  padding-bottom: 1em;
}
.videoPrincipal p {
  font-size: 20px;
}

.videoCampaña {
  width: 200vh;
  margin-right: 2em;
}

.portadaCampania {
  margin: 3em 1em 1em 1em;
  justify-content: space-around;
}
.portadaCampania h2 {
  margin-top: 1em;
  font-size: 60px;
}

.pUno {
  color: #EA7128;
}

.pDos {
  color: #45737E;
}

.pTres {
  color: #FFC811;
}

.pCuatro {
  color: #3AA4A4;
}

.cel {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #70C573;
}

/*STORE.HTML*/
.bannerStore {
  text-align: center;
  padding: 4em;
  border-bottom: #085F62 double 1em;
}
.bannerStore h2 {
  padding-top: 1em;
  font-size: 40px;
  color: #03A8E8;
}
.bannerStore h3 {
  color: #70C573;
}

.productos {
  background-color: white;
  align-items: center;
}

.cardProduct {
  width: 300px;
  border: 5px #085F62 solid;
  padding: 3em;
  display: inline-block;
  margin: 2em;
  background-color: #70C573;
}

.cardProduct__image {
  width: 100%;
}

.cardProduct__des {
  line-height: 20px;
  color: #124329;
}

.cardProduct__price {
  margin-top: 15px;
}

.cardProduct__text {
  margin-top: 10px;
  margin-bottom: 5em;
}

.cardProduct__button {
  text-decoration: none;
  font-size: 25px;
  background-color: #085F62;
  color: #fcfcfc;
  padding: 1em;
  border-radius: 15px;
}
.cardProduct__button:hover {
  background-color: white;
  color: #085F62;
  transition: 0.5s;
}

.gridContenedor {
  padding: 0em;
  color: #fcfcfc;
  display: grid;
  grid-template-areas: "dona" "socio" "app";
}

.gridItemDona {
  grid-area: dona;
  background-color: #70C573;
}

.contentDona__text {
  width: 50%;
}

.gridItemAsociate {
  grid-area: socio;
  display: flex;
  flex-direction: row-reverse;
  background-color: #085F62;
}

.contentSocio__text {
  width: 50%;
}

.gridItemApp {
  grid-area: app;
  background-color: #03A8E8;
}

.contentApp__text {
  width: 50%;
}

.ilusracionAyuda {
  height: max-content;
}

.CTA {
  text-align: center;
  padding: 2em;
}
.CTA p {
  text-align: justify;
  padding-bottom: 4em;
  font-size: 30px;
}
.CTA h2 {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 60px;
}
.CTA a {
  text-decoration: none;
  font-size: 30px;
  background-color: #2B475E;
  color: #FFD43D;
  padding: 0.5em;
  border-radius: 15px;
}
.CTA a:hover {
  background-color: #182c3b;
  color: #EBD671;
  transition: 0.5s;
}

/*GENERAL CONFIGS*/
* {
  padding: 0px;
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --font: roboto ;
  --verde: #70C573;
  --verdeOscuro: #124329;
  --amarillo:#EBD671;
}

body {
  background-color: white;
}

.donate {
  position: fixed;
  z-index: 9999999;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
.donate:hover {
  transition: 1s;
  transform: rotate(720deg) scale(1.2);
}

.topbar {
  text-align: center;
  padding: 0.5em;
  background-color: #EBD671;
  color: #124329;
  font-size: 15px;
}

.cabezera {
  text-align: center;
  justify-content: space-between;
  background-color: #124329;
}

.cabezera__visual {
  justify-content: flex-start;
}
.cabezera__visual h1 {
  font-size: 25px;
  color: beige;
  margin: 0.7em 5em 0.5em 0.1em;
}

.cabezera__visualImg {
  border-radius: 100px;
  margin: 0.5em 1em 0.5em 2em;
}

.cabezera__menu ul {
  justify-content: flex-end;
  background-color: #124329;
  border-radius: 5px;
  margin: 0.5em 2em 0.5em 2em;
}
.cabezera__menu ul li {
  justify-content: space-evenly;
  padding: 1em;
}
.cabezera__menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.cabezera__menu ul li a:hover {
  color: beige;
  transition: 0.1s;
}

footer {
  background-color: #124329;
  margin-top: 7em;
  padding: 3em;
}
footer nav {
  display: flex;
  justify-content: space-around;
}
footer nav h4 {
  color: white;
}
footer nav ul {
  list-style: none;
}
footer nav ul li {
  padding: 1em 1em 1em 0em;
}
footer nav ul li a {
  text-decoration: none;
  color: beige;
}

/*MEDIA QUERY*/
@media only screen and (max-width: 960px) {
  /*General*/
  .donate {
    position: fixed;
    z-index: 9999999;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
  }

  .topbar {
    text-align: center;
    padding: 0.5em;
    background-color: #EBD671;
    color: #124329;
    font-size: 10px;
  }

  .cabezera {
    text-align: center;
    flex-direction: column;
  }

  .cabezera__visual {
    justify-content: center;
  }
  .cabezera__visual h1 {
    font-size: 25px;
    color: beige;
    margin: 0.7em 0.1em 0.5em 0.1em;
  }

  .cabezera__visualImg {
    margin: 0.5em 1em 0.5em 2em;
    height: 35px;
    width: 35px;
  }

  .cabezera__menu {
    display: flex;
  }
  .cabezera__menu ul {
    justify-content: center;
    margin: 0.5em;
    flex-wrap: wrap;
  }
  .cabezera__menu ul li a {
    font-size: 20px;
  }

  .logoFooter {
    display: none;
  }

  footer {
    background-color: #124329;
    margin-top: 1em;
    padding: 3em 1em 1em 1em;
  }
  footer nav {
    display: flex;
    justify-content: space-around;
  }
  footer nav ul {
    list-style: none;
    text-align: center;
  }
  footer nav ul li {
    padding: 0.5em;
  }
}
@media only screen and (max-width: 600px) {
  /*Index.HTML*/
  .presentacion {
    background-position: center;
    background: url(../scr/media/img/presentacionFoto.jpg);
    height: 100%;
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-bottom: 15px double #085F62;
  }
  .presentacion h2 {
    padding-top: 2em;
    font-size: 50px;
    margin-bottom: 1em;
    height: 100%;
  }

  .quienesSomos {
    display: flex;
    flex-direction: column;
  }
  .quienesSomos video {
    display: none;
  }
  .quienesSomos h3 {
    margin-bottom: 3em;
    font-size: 30px;
    background-color: #ffffff91;
    color: #124329;
    padding: 0.5em;
  }

  .photoText__content {
    display: flex;
    justify-content: flex-end;
  }

  .content__flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 100%;
    margin-left: 1em;
    margin-top: 4em;
    align-items: center;
  }
  .content__flex img {
    margin-top: 5em;
    height: 200px;
    width: max-content;
    padding-bottom: 1em;
  }
  .content__flex h2 {
    font-size: 50px;
    padding-bottom: 1em;
  }
  .content__flex h3 {
    font-size: 30px;
  }

  .content__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .content__list ul {
    margin-left: 1em;
    margin-bottom: 8em;
    font-size: 25px;
  }
  .content__list ul li {
    list-style: square;
    color: #085F62;
    padding-top: 1.1em;
  }

  .cutSection {
    text-align: center;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
  }
  .cutSection h2 {
    padding-bottom: 0.5em;
    font-size: 70px;
    color: #085F62;
  }
  .cutSection h4 {
    padding-bottom: 3em;
    font-size: 25px;
    color: black;
  }

  .infoArbol {
    flex-direction: column;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1.5em;
  }

  .arboles, .carbono, .ingresos, .descarga {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .arboles h2, .carbono h2, .ingresos h2, .descarga h2 {
    margin-top: 1em;
    padding: 0.5em;
    border-bottom: 2px #70C573 solid;
    color: #085F62;
  }

  .arboles p, .carbono p, .ingresos p, .descarga p {
    margin-top: 0.5em;
    font-size: 27px;
    color: #70C573;
    padding-bottom: 2em;
  }

  .grid-gallery {
    margin: 3em 1em 3em 1em;
  }

  /*NOSOTROS.HTML*/
  .responsiveAlert {
    padding-top: 3em;
    display: flex;
    font-size: 20px;
    color: #085F62;
  }

  .intro {
    background: url(../scr/media/img/bannerNosotrosResponsive.jpg);
    height: 100%;
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center;
    padding: 1em;
  }

  .intro__nosotros {
    margin: 3em 0.5em 3em 0.5em;
  }
  .intro__nosotros h2 {
    padding: 1em;
    font-size: 40px;
    color: #fcfcfc;
  }
  .intro__nosotros p {
    font-size: 25px;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
  }

  .divisiones h2 {
    padding-top: 2.5em;
    font-size: 50px;
  }

  .ramas > div {
    font-size: 15px;
  }

  .historia {
    margin: 1em;
    display: flex;
  }

  .historia__content h2 {
    padding-top: 2.5em;
    font-size: 50px;
    border-bottom: 10px double #085F62;
    color: #70C573;
    display: flex;
  }

  .content__text {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .content__text p {
    padding-top: 10px;
    font-size: 20px;
    padding: 2em 1em 2em 1em;
  }

  /*STORE.HTML*/
  .bannerStore {
    padding: 1em;
  }

  .cardProduct {
    width: 300px;
    border: 5px teal solid;
    padding: 1em 1em 3em 1em;
    display: inline-block;
    margin: 2em 1em 2em 1em;
    align-items: center;
  }

  .productos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*CAMPAÑAS.HTML*/
  .evento {
    padding: 1em 1em 3em 1em;
  }
  .evento .eventoContent h2 {
    font-size: 50px;
  }
  .evento .eventoContent h4 {
    font-size: 25px;
  }

  .videoPrincipal {
    flex-direction: column;
    margin: 3em 1em 10em 1em;
    align-items: center;
    text-align: center;
  }
  .videoPrincipal h2 {
    font-size: 30px;
    padding: 1em;
  }
  .videoPrincipal p {
    text-align: justify;
    padding: 0em 1em 1em 1em;
  }

  .videoCampaña {
    width: max-content;
    margin-right: 0em;
  }

  .video__text {
    margin-top: 3em;
  }

  .portadaCampania {
    margin: 3em 1em 1em 1em;
    flex-direction: column;
    align-items: center;
  }
  .portadaCampania h2 {
    margin-top: 1em;
    font-size: 40px;
  }
  .portadaCampania img {
    width: 300px;
    height: 300px;
  }

  .cel {
    display: block;
  }

  /*NEWS.HTML*/
  .bannerNews {
    padding: 1em;
  }

  .noticias {
    margin: 2em 1em 2em 1em;
  }

  .newContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    margin-bottom: 4em;
    padding-bottom: 2em;
    border-bottom: 10px #70C573 double;
  }
  .newContainer img {
    border-radius: 15px;
    width: max-content;
    margin-bottom: 2em;
  }

  .newContent {
    padding-left: 0em;
  }

  .titleNew {
    padding-bottom: 1em;
  }

  .botonera {
    margin-top: 1em;
  }

  .botonera li {
    display: inline;
    padding: 1em;
  }
  .botonera li .fecha {
    padding-top: 2em;
  }
  .botonera li a {
    text-decoration: none;
    color: var(--verde);
    border-bottom: 2px solid var(--verde);
  }

  .fecha {
    padding-top: 3em;
  }

  /*Ayudanos.HTML*/
  .gridContenedor {
    text-align: center;
  }

  .CTA {
    padding: 0px;
    flex-direction: row-reverse;
    width: 100%;
  }

  .CTA p {
    text-align: center;
    padding: 1em 1em 2em 1em;
  }

  .CTA a {
    margin: 2em;
  }

  .responsiveGrid {
    flex-direction: column;
    text-align: center;
    padding: 1em 1em 3em 1em;
    align-items: center;
  }

  .ilusracionAyuda {
    width: 200px;
    height: 200px;
  }

  .toggleContenedor {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 2em;
  }
  .toggleContenedor .toggle {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #085F62;
    top: 0px;
    left: 0px;
    border-radius: 30px;
    width: 90px;
    height: 50px;
    transition: 0.3s;
  }
  .toggleContenedor .activo {
    background-color: aquamarine;
  }
  .toggleContenedor .activo .toggleButton {
    left: 45px;
  }
  .toggleContenedor .toggleButton {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
  }
  .toggleContenedor .toggleText {
    position: relative;
    padding-left: 1em;
    font-size: 15px;
    color: #085F62;
  }
  .toggleContenedor .toggleA {
    padding-left: 0px;
    padding-right: 1em;
  }

  .news {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0.5em;
  }

  section.articles {
    width: 100%;
    float: none;
    padding: 0em;
    margin-bottom: 1em;
  }

  .news aside {
    background-color: #ebebeb;
    float: none;
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0em;
  }

  .news aside header {
    text-align: center;
  }
}
.textCabeza {
  padding: 2em 0em 2em 0em;
}
.textCabeza h2 {
  font-size: 50px;
}

@media only screen and (max-width: 1200px) {
  /*Ayudanos.HTML*/
  .gridContenedor {
    text-align: center;
  }

  .CTA {
    padding: 0px;
    flex-direction: row-reverse;
    width: 100%;
  }

  .CTA p {
    text-align: center;
    padding: 1em 1em 5em 1em;
    font-size: 25px;
    text-align: justify;
  }

  .CTA a {
    margin: 2em;
  }

  .responsiveGrid {
    flex-direction: column;
    text-align: center;
    padding: 1em 1em 3em 1em;
    align-items: center;
  }

  .ilusracionAyuda {
    margin-top: 2em;
    width: 350px;
    height: 350px;
    border-radius: 15px;
  }
}
@media only screen and (max-width: 1200px) and (max-width: 800px) {
  .ilusracionAyuda {
    margin-top: 2em;
    width: 200px;
    height: 200px;
    border-radius: 15px;
  }
}
@media only screen and (max-width: 601px) {
  .desk {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
